.container {
  padding: 0 0 5rem;
  position: relative;

  @media(max-width: 900px) {
    padding: 0 0 4rem;
  }

  .featured-job {
    border-left: 5px solid $desaturated-dark-cyan;
  }

  .job-item {
    margin: 0 auto 1.5rem;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px 10px hsla(180, 29%, 50%, 0.1);
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
      height: auto;
      flex-direction: column;
      align-items: unset;
      padding: 0 1rem;
      position: relative;
      margin-bottom: 3rem;
    }

    .logo {
      padding: 0 1rem 0 2rem;

      @media(max-width: 900px) {
        position: relative;
        transform: translateY(-50%);
        padding: 0;
      }

      img {
        @media(max-width: 900px) {
          width: 60px;
          height: auto;
        }
      }
    }

    .job-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .company-name {
        display: flex;
        margin-bottom: 0.5rem;

        @media(max-width:900px) {
          margin-bottom: 1rem;
          margin-top: -1rem;
        }

        p {
          font-size: 0.8rem;
          color: $desaturated-dark-cyan;
          margin-right: 0.5rem;
          font-weight: 600;
        }

        .special-tags {
          transform: translateY(-4px);

          span {
            font-size: 0.7rem;
            color: white;
            margin-right: 0.5rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0.3rem 0.5rem 0.2rem;
            border-radius: 10px;
          }

          .new {
            background: $desaturated-dark-cyan;
          }

          .featured {
            background: $very-dark-grayish-cyan;
          }
        }
      }

      .job-title {
        margin-bottom: 0.6rem;

        @media(max-width:900px) {
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 1.1rem;
          font-weight: 600;
          color: $very-dark-grayish-cyan;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: $desaturated-dark-cyan;
          }
        }
      }

      .job-meta-info {
        color: rgb(151, 151, 151);
        font-size: 0.8rem;

        @media(max-width:900px) {
          padding-bottom: 1rem;
          border-bottom: 1px solid rgb(75, 75, 75);
          margin-bottom: 1rem;
        }

        span {
          margin-right: 0.5rem;
        }
      }
    }

    .job-tags {
      display: flex;
      margin: 0 1rem 0 auto;
      align-items: center;

      @media(max-width: 900px) {
        margin: 0 0 1rem;
        flex-wrap: wrap;
      }

      .tag {
        font-size: 0.8rem;
        font-weight: 600;
        margin-left: 0.5rem;
        padding: 0.5rem 0.6rem;
        border-radius: 5px;
        background: $light-grayish-cyan-tablets;
        color: $desaturated-dark-cyan;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $desaturated-dark-cyan;
          color: $light-grayish-cyan-tablets;
        }

        @media(max-width:900px) {
          margin: 0 0.8rem 0.8rem 0;
        }
      }
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto 1rem;
  transform: translateY(-50%);
  width: 100%;
  height: 72px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 10px 10px hsla(180, 29%, 50%, 0.1);
  padding: 1rem 2rem;
  z-index: 1;

  @media(max-width: 900px) {
    margin-bottom: 2rem;
    height: min-content;
  }

  .filterBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media(max-width: 900px) {
      height: min-content;
      flex-wrap: wrap;
    }

    .item {
      height: 32px;
      border-radius: 5px;
      overflow: hidden;
      background: $light-grayish-cyan;
      color: $desaturated-dark-cyan;
      cursor: pointer;
      outline: none;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.4rem 1rem 0.4rem 0;

      &:hover .x {
        background: $very-dark-grayish-cyan;
      }

      .text {
        p {
          font-weight: 500;
          font-size: 0.8rem;
          width: fit-content;
          text-align: center;
          padding: 0 0.5rem;
        }
      }

      .x {
        background: $desaturated-dark-cyan;
        color: $light-grayish-cyan;
        height: 100%;
        width: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;

        p {
          font-weight: 700;
          font-size: 0.8rem;
          width: fit-content;
          text-align: center;
        }
      }
    }
  }

  p {
    font-size: 0.9rem;
    color: $desaturated-dark-cyan;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.invisible {
  visibility: hidden !important;
  pointer-events: none !important;
}