@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap");
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

.container {
  padding: 0 0 5rem;
  position: relative;
}

@media (max-width: 900px) {
  .container {
    padding: 0 0 4rem;
  }
}

.container .featured-job {
  border-left: 5px solid #5ba4a4;
}

.container .job-item {
  margin: 0 auto 1.5rem;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(91, 164, 164, 0.2);
          box-shadow: 0px 0px 10px 5px rgba(91, 164, 164, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .container .job-item {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 0 1.5rem;
    position: relative;
    margin-bottom: 3rem;
  }
}

.container .job-item .logo {
  padding: 0 1rem 0 2rem;
}

@media (max-width: 900px) {
  .container .job-item .logo {
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0;
  }
}

@media (max-width: 900px) {
  .container .job-item .logo img {
    width: 50px;
    height: auto;
  }
}

.container .job-item .job-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .job-item .job-info .company-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .container .job-item .job-info .company-name {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
}

.container .job-item .job-info .company-name p {
  font-size: 0.8rem;
  color: #5ba4a4;
  margin-right: 0.5rem;
  font-weight: 600;
}

.container .job-item .job-info .company-name .special-tags {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.container .job-item .job-info .company-name .special-tags span {
  font-size: 0.7rem;
  color: white;
  margin-right: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem 0.2rem;
  border-radius: 10px;
}

.container .job-item .job-info .company-name .special-tags .new {
  background: #5ba4a4;
}

.container .job-item .job-info .company-name .special-tags .featured {
  background: #2c3a3a;
}

.container .job-item .job-info .job-title {
  margin-bottom: 0.6rem;
}

@media (max-width: 900px) {
  .container .job-item .job-info .job-title {
    margin-bottom: 1rem;
  }
}

.container .job-item .job-info .job-title h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #2c3a3a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.container .job-item .job-info .job-title h2:hover {
  color: #5ba4a4;
}

.container .job-item .job-info .job-meta-info {
  color: #818181;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .container .job-item .job-info .job-meta-info {
    padding-bottom: 1rem;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 1rem;
  }
}

.container .job-item .job-info .job-meta-info span {
  margin-right: 0.5rem;
}

.container .job-item .job-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .container .job-item .job-tags {
    margin: 0 0 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .job-item .job-tags .tag {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  background: #eef6f6;
  color: #5ba4a4;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .job-item .job-tags .tag:hover {
  background: #5ba4a4;
  color: #eef6f6;
}

@media (max-width: 900px) {
  .container .job-item .job-tags .tag {
    margin: 0 0.8rem 0.8rem 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto 0.8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 72px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(91, 164, 164, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(91, 164, 164, 0.1);
  padding: 1rem 2rem;
  z-index: 1;
}

@media (max-width: 900px) {
  .filter {
    margin-bottom: 2rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.filter .filterBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 900px) {
  .filter .filterBox {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filter .filterBox .item {
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
  background: #effafa;
  color: #5ba4a4;
  cursor: pointer;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.4rem 1rem 0.4rem 0;
}

.filter .filterBox .item:hover .x {
  background: #2c3a3a;
}

.filter .filterBox .item .text p {
  font-weight: 500;
  font-size: 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0 0.5rem;
}

.filter .filterBox .item .x {
  background: #5ba4a4;
  color: #effafa;
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.filter .filterBox .item .x p {
  font-weight: 700;
  font-size: 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.filter p {
  font-size: 0.9rem;
  color: #5ba4a4;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.filter p:hover {
  text-decoration: underline;
}

.invisible {
  visibility: hidden !important;
  pointer-events: none !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  background-color: #effafa;
}

.bg-header {
  height: 156px;
  background-color: #5ba4a4;
}

@media (max-width: 900px) {
  .bg-header {
    height: 150px;
  }
}

.bg-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .bg-header img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */