@import 'utilities', 'card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  background-color: $light-grayish-cyan;
}

.bg-header {
  height: fit-content;
  background-color: $desaturated-dark-cyan;

  @media(max-width: 900px) {
    height: 150px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media(max-width: 900px) {
      object-fit: cover;
    }

  }
}